<!--
<img class="pub-img pull-left" src="{{links.png}}" alt="{{ entry.title }}">
-->
<p class="pub-title h4">{% if entry.doi %}<a href="{{entry.doi}}" target="_blank">{% endif %}{{ entry.title }}</a></p>

<p class="pub-venue">
  {{ entry.author  | replace: " and", ";" }}.
  {% if entry.journal %}
	<em>{{ entry.journal }}</em>{% endif %}.
	{% if entry.volume %} vol. {{ entry.volume }}{% endif %}{% if entry.number %}({{ entry.number }}){% endif %}{% if entry.pages %}, {{ entry.pages }}.{% endif %} {% if entry.month %}{{ entry.month | date: "%B" }}{% endif %} {% if entry.year %}{{ entry.year }}{% endif %}.

</p>

<div class="btn-group btn-group-sm" role="group">

  {% if entry.abstract %}<a class="btn btn-default" data-toggle="collapse" role="button" href="#{{key}}-abstract" title="Abstract">View Abstract</a>{% endif %}

  {% if entry.doi %}<a class="btn btn-default" role="button" href="{{entry.doi}}" target="_blank"><i class="fa fa-link"></i></a>{% endif %}

  {% if link %}
  <a class="btn btn-default" role="button" href="{{link}}"><i class="fa fa-download"></i></a>
  {% endif %}

</div>

<div id="{{key}}-materials">

  {% if entry.abstract %}
  <p id="{{key}}-abstract" class="collapse">{{entry.abstract}}</p>
  {% endif %}

</div>
<p style="clear:both"></p>
