---
layout: gudmap/page
---

<div class="row">

<div id="sidebar1" class="col-md-2">

	<ul class="tut-nav nav nav-pills nav-stacked">
		<li role="presentation" class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			GUDMAP4</a>
			<ul class="dropdown-menu">
				<li><a href="/gudmap/projects/gudmap4/chen-group/">Chen Group</a></li>
				<li><a href="/gudmap/projects/gudmap4/cohn-group/">Cohn Group</a></li>
				<li><a href="/gudmap/projects/gudmap4/keast-group/">Keast Group</a></li>
				<li><a href="/gudmap/projects/gudmap4/lee-group/">Byron Lee Group</a></li>
	      <li><a href="/gudmap/projects/gudmap4/li-group/">Sean Li Group</a></li>
			</ul>

		</li>
		<li role="presentation" class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			GUDMAP3</a>
			<ul class="dropdown-menu">
				<li><a href="/gudmap/projects/gudmap3/cohn-group/">Cohn</a></li>
	      <li><a href="/gudmap/projects/gudmap3/tissue-repo/">Dhir (Tissue Repo)</a></li>
				<li><a href="/gudmap/projects/gudmap3/keast-group/">Keast</a></li>
	      <li><a href="/gudmap/projects/gudmap3/hub/">Kesselman (Hub)</a></li>
	      <li><a href="/gudmap/projects/gudmap3/li-group/">Li</a></li>
				<li><a href="/gudmap/projects/gudmap3/mcmahon-group/">McMahon</a></li>
				<li><a href="/gudmap/projects/gudmap3/mendelsohn-group/">Mendelsohn</a></li>
				<li><a href="/gudmap/projects/gudmap3/southard-smith-group/">Southard-Smith</a></li>
				<li><a href="/gudmap/projects/gudmap3/strand-group/">Strand</a></li>
				<li><a href="/gudmap/projects/gudmap3/vezina-group/">Vezina</a></li>
			</ul>

		</li>
		<li role="presentation" class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			GUDMAP2</a>
			<ul class="dropdown-menu">
				<li><a href="/gudmap/projects/gudmap2/cohn-group/">Cohn</a></li>
				<li><a href="/gudmap/projects/gudmap2/edinburgh-group/">Edinburgh Core</a></li>
				<li><a href="/gudmap/projects/gudmap2/keast-group/">Keast</a></li>
				<li><a href="/gudmap/projects/gudmap2/mcmahon-group/">McMahon</a></li>
				<li><a href="/gudmap/projects/gudmap2/mendelsohn-group/">Mendelsohn</a></li>
			</ul>
		</li>
		<li role="presentation" class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			GUDMAP1</a>
			<ul class="dropdown-menu">
				<li><a href="/gudmap/projects/gudmap1/capel-group/">Capel</a></li>
	      <li><a href="/gudmap/projects/gudmap1/edinburgh-group/">Edinburgh Core</a></li>
	      <li><a href="/gudmap/projects/gudmap1/gaido-group/">Gaido</a></li>
	      <li><a href="/gudmap/projects/gudmap1/lessard-group/">Lessard</a></li>
	      <li><a href="/gudmap/projects/gudmap1/little-group/">Little</a></li>
	      <li><a href="/gudmap/projects/gudmap1/mcmahon-group/">McMahon</a></li>
	      <li><a href="/gudmap/projects/gudmap1/mendelsohn-group/">Mendelsohn</a></li>
	      <li><a href="/gudmap/projects/gudmap1/potter-group/">Potter</a></li>
	      <li><a href="/gudmap/projects/gudmap1/southard-smith-group/">Southard-Smith</a></li>
	      <li><a href="/gudmap/projects/gudmap1/vezina-group/">Vezina</a></li>
	      <li><a href="/gudmap/projects/gudmap1/zhang-group/">Zhang</a></li>
			</ul>
		</li>
		<li role="presentation" class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			nGUDMAP</a>
			<ul class="dropdown-menu">
				<li><a href="/gudmap/projects/ngudmap/ahern-group/">Ahern</a></li>
				<li><a href="/gudmap/projects/ngudmap/baldock-group/">Baldock</a></li>
				<li><a href="/gudmap/projects/ngudmap/edinburgh-group/">Edinburgh Core</a></li>
				<li><a href="/gudmap/projects/ngudmap/jain-group/">Jain</a></li>
				<li><a href="/gudmap/projects/ngudmap/keast-group/">Keast</a></li>
				<li><a href="/gudmap/projects/ngudmap/southard-smith-group/">Southard-Smith</a></li>
			</ul>
		</li>
	</ul>
	</div>

<div class="project-pages col-md-10">


		<p>{{ content }}</p>

</div>

</div>
<script type="text/javascript">
$(document).activeNavigation("ul.tut-nav")
</script>
