<ul>
  <li>Projects Overview</li>
  <li>GUDMAP3
    <ul>
      <li>Cohn</li>
      <li>Dhir</li>
      <li>Kesselman</li>
      <li>Li</li>
    </ul>
  </li>
  <li>GUDMAP2
    <ul>
      <li>Cohn</li>
      <li>Edinburgh Core</li>
      <li>Keast</li>
      <li>McMahon</li>
      <li>Mendelsohn</li>
    </ul>
  </li>
  <li>GUDMAP1
    <ul>
      <li>Capel</li>
      <li>Edinburgh Core</li>
      <li>Gaido</li>
      <li>Lessard</li>
      <li>Little</li>
      <li>McMahon</li>
      <li>Mendelsohn</li>
      <li>Potter</li>
      <li>Southard-Smith</li>
      <li>Vezina</li>
      <li>Zhang</li>
    </ul>
  </li>
  <li>nGUDMAP
    <ul>
      <li>Ahern</li>
      <li>Baldock</li>
      <li>Edinburgh Core</li>
      <li>Jain</li>
      <li>Keast</li>
      <li>Southard-Smith</li>
    </ul>
  </li>
</ul>