<div class="slider" data-slick='{"dots": true}'>
  <div>
    <a href="/assets/img/carousel/16-WMWC-prostate-mouse-strand.png" class="featured" title="Strand lab (GUDMAP): Mouse: Inset prostate ducts. Keratin 5-Green, CGRP-White, DAPI-Blue">
    <img src="/assets/img/carousel/16-WMWC-prostate-mouse-strand-thumb.png"  alt="/id/16-WMWC">
    </a>
  </div>

  <div>
    <a href="/assets/img/carousel/anxa2-1-carroll-mouse.jpg" class="featured" title="Carroll lab (RBK): Mouse: Inset prostate ducts. Keratin 5-Green, CGRP-White, DAPI-Blue">
    <img src="/assets/img/carousel/anxa2-1-carroll-mouse-thumb.jpg"  alt="/id/anxa2-1">
    </a>
  </div>
  <div>
    <a href="/assets/img/carousel/17-CKXJ-southard-smith-ihc.jpg" class="featured" title="Southard-Smith lab (GUDMAP): Mouse: Tomato, Hu C D and CGRP on pelvic ganglion">
    <img src="/assets/img/carousel/17-CKXJ-southard-smith-ihc-thumb.jpg"  alt="/id/17-CKXJ">
    </a>
  </div>

  <div>
    <a href="/assets/img/carousel/W-QZTE-vezina-ihc.jpg" class="featured" title="Vezina lab (GUDMAP): Mouse, Blue-DAPI, Green-EYFP (Shh lineage label), Red-UPK (TS26)">
    <img src="/assets/img/carousel/W-QZTE-vezina-ihc-thumb.jpg"  alt="/id/W-QZT6">
    </a>
  </div>
  <div>
    <a href="/assets/img/carousel/cohn-brightfield-N-FH8T.jpg" class="featured" title="Cohn lab (GUDMAP): genital tubercle of male mouse (TS20)">
    <img src="/assets/img/carousel/cohn-brightfield-N-FH8T-thumb.jpg"  alt="/id/N-GXM0">
  </a>
  </div>
  <div>
    <a href="/assets/img/carousel/mendelsohn-ISH-N-EJET.jpg" class="featured" title="Mendelsohn lab (GUDMAP): ISH of mouse urinary system (TS21)">
    <img src="/assets/img/carousel/mendelsohn-ISH-N-EJET-thumb.jpg"  alt="/id/N-GPZ8">
  </a>
  </div>
  <div>
    <a href="/assets/img/carousel/N-E03T-little-IHC.jpg" class="featured" title="Little lab (RBK): Adult mouse cortex. Aqp1 protein detected">
    <img src="/assets/img/carousel/N-E03T-little-IHC-thumb.jpg"  alt="/id/N-GKW0">
  </a>
  </div>
  <div>
    <a href="/assets/img/carousel/N-FEFC-southard-smith-ISH.jpg" class="featured" title="Southard-Smith lab (GUDMAP): Mouse urinary system (TS23)">
    <img src="/assets/img/carousel/N-FEFC-southard-smith-ISH-thumb.jpg"  alt="/id/N-GWR8">
  </a>
  </div>

</div>
