<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "DataCatalog",
    "dateModified": "{{ 'now' | date_to_xmlschema }}",
    "url": "https://www.atlas-d2k.org/",
    "name": "ATLAS-D2K Center",
    "alternateName": ["ATLAS-D2K Data Repository", "ATLAS-D2K Data Hub", "ATLAS-D2K Data Catalog"],
    "description" : "The Analysis, Technology, Leadership, Administration, and Science - Data to Knowledge (ATLAS-D2K) Center’s publishes the total contributions of the GUDMAP and ReBuilding a Kidney consortia and our long-term goal is to bring complex data into an accessible form for our research communities and establish connections between molecular data of the kidney and lower urinary tract.",
    "usageInfo": "https://www.atlas-d2k.org/terms-of-use/",
    "license": "https://www.atlas-d2k.org/terms-of-use/",
    "inLanguage": {
      "@type": "Language",
      "name": "English"
    },
    "creator": {
      "@type": "Organization",
      "name": "ATLAS-D2K Center",
      "logo": "https://www.atlas-d2k.org/assets/img/atlas-logo-inverted.png",
      "url": "https://www.atlas-d2k.org/about/",
      "description": "The Analysis, Technology, Leadership, Administration, and Science - Data to Knowledge (ATLAS-D2K) Center’s publishes the total contributions of the GUDMAP and ReBuilding a Kidney consortia and our long-term goal is to bring complex data into an accessible form for our research communities and establish connections between molecular data of the kidney and lower urinary tract."
    },
    "publisher": {
      "@type": "Organization",
      "name": "ATLAS-D2K Center",
      "logo": "https://www.atlas-d2k.org/assets/img/atlas-logo-inverted.png",
      "url": "https://www.atlas-d2k.org/about/",
      "description": "The Analysis, Technology, Leadership, Administration, and Science - Data to Knowledge (ATLAS-D2K) Center’s publishes the total contributions of the GUDMAP and ReBuilding a Kidney consortia and our long-term goal is to bring complex data into an accessible form for our research communities and establish connections between molecular data of the kidney and lower urinary tract."
    },
    "funder": {
      "@type": "Organization",
      "url": "https://www.niddk.nih.gov/",
      "name": "National Institute of Diabetes and Digestive and Kidney Diseases (NIDDK), National Institute of Health (NIH)"
    },
    "keywords": [
      "data management",
      "data repository",
      "database",
      "kidney",
      "genitourinary",
      "imaging",
      "transcriptomics",
      "epigenomics",
      "histology",
      "immunohistochemistry",
      "immunofluorescence",
      "in-situ hybridisation",
      "nanoCT",
      "RNA-Seq",
      "scRNA-Seq",
      "ATAC-Seq",
      "CHiP-Seq",
      "scRNA-Seq",
      "protocol",
      "antibody validation",
      "transgenic mouse",
      "sequencing",
      "microarray",
      "gene expression",
      "visualization"
    ]
  }
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Dataset",
    "dateModified": "{{ 'now' | date_to_xmlschema }}",
    "url": "https://www.atlas-d2k.org/",
    "name": "ATLAS-D2K Center",
    "alternateName": ["ATLAS-D2K Data Repository", "ATLAS-D2K Data Hub", "ATLAS-D2K Data Catalog"],
    "description" : "The Analysis, Technology, Leadership, Administration, and Science - Data to Knowledge (ATLAS-D2K) Center’s publishes the total contributions of the GUDMAP and ReBuilding a Kidney consortia and our long-term goal is to bring complex data into an accessible form for our research communities and establish connections between molecular data of the kidney and lower urinary tract.",
    "usageInfo": "https://www.atlas-d2k.org/terms-of-use/",
    "license": "https://www.atlas-d2k.org/terms-of-use/",
    "inLanguage": {
      "@type": "Language",
      "name": "English"
    },
    "creator": {
      "@type": "Organization",
      "name": "ATLAS-D2K Center",
      "logo": "https://www.atlas-d2k.org/assets/img/atlas-logo-inverted.png",
      "url": "https://www.atlas-d2k.org/about/",
      "description": "The Analysis, Technology, Leadership, Administration, and Science - Data to Knowledge (ATLAS-D2K) Center’s publishes the total contributions of the GUDMAP and ReBuilding a Kidney consortia and our long-term goal is to bring complex data into an accessible form for our research communities and establish connections between molecular data of the kidney and lower urinary tract."
    },
    "publisher": {
      "@type": "Organization",
      "name": "ATLAS-D2K Center",
      "logo": "https://www.atlas-d2k.org/assets/img/atlas-logo-inverted.png",
      "url": "https://www.atlas-d2k.org/about/",
      "description": "The Analysis, Technology, Leadership, Administration, and Science - Data to Knowledge (ATLAS-D2K) Center’s publishes the total contributions of the GUDMAP and ReBuilding a Kidney consortia and our long-term goal is to bring complex data into an accessible form for our research communities and establish connections between molecular data of the kidney and lower urinary tract."
    },
    "funder": {
      "@type": "Organization",
      "url": "https://www.niddk.nih.gov/",
      "name": "National Institute of Diabetes and Digestive and Kidney Diseases (NIDDK), National Institute of Health (NIH)"
    },
    "keywords": [
      "data management",
      "data repository",
      "database",
      "kidney",
      "genitourinary",
      "imaging",
      "transcriptomics",
      "epigenomics",
      "histology",
      "immunohistochemistry",
      "immunofluorescence",
      "in-situ hybridisation",
      "nanoCT",
      "RNA-Seq",
      "scRNA-Seq",
      "ATAC-Seq",
      "CHiP-Seq",
      "scRNA-Seq",
      "protocol",
      "antibody validation",
      "transgenic mouse",
      "sequencing",
      "microarray",
      "gene expression",
      "visualization"
    ]
  }
</script>
