{% include tease.html %}
<navbar>
  <nav class="navbar navbar-inverse">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-btn" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
        <span id="brand-text">ATLAS-D2K</span></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-btn">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ "/resources/adult-mouse-penis-3d/" | relative_url }}">Adult Mouse Penis Atlas</a></li>
              <li><a href="{{ "/resources/genital-tubercule-atlas/" | relative_url }}">Mouse Tubercle Atlas</a></li>
              <li><a href="{{ "/resources/ontology/" | relative_url }}">Ontology</a></li>
              <li><a href="{{ "/resources/theiler-stages/" | relative_url }}">Cross-reference Theiler Stages</a></li>
              <li><a href="{{ "/resources/tools/" | relative_url }}">Community Tools</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tutorials <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ "/tutorials/kidney-dev/" | relative_url }}">Kidney Development (Human/Mouse)</a></li>
              <li><a href="{{ "/tutorials/innervation/" | relative_url }}">LUT Innervation Development (Mouse)</a></li>
              <li><a href="{{ "/tutorials/prostate-dev/" | relative_url }}">Prostate Development (Mouse)</a></li>
              <li><a href="{{ "/tutorials/urogenital-dev/" | relative_url }}">Urogenital Development (Mouse)</a></li>
              <li><a href="{{ "/tutorials/void-assay/" | relative_url }}">Micturition Assessment (Mouse)</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Consortiums <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ "/gudmap/" | relative_url }}">GUDMAP</a></li>
              <li><a href="{{ "/rebuildingakidney/" | relative_url }}">ReBuilding A Kidney (RBK)</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ "/about/" | relative_url }}">What is ATLAS-D2K?</a></li>
              <li><a href="{{ "/publications/" | relative_url }}">Publications</a></li>
              <li><a href="{{ "/news/" | relative_url }}">News</a></li>
            </ul>
          </li>
        </ul>

      </div><!-- /.navbar-collapse -->

  </nav>
</navbar>
