---
layout: rbk/home
tag:
title: (Re)Building A Kidney (RBK) Consortium
---

<div class="home" id="rbk">
  <div class="home-main">
    <div class="container content-inner">

    <section class="section-cta section row clear">

      <div class="col four blurb mobile-full">

        <section class="section-resources">

          <div class="ctas">


              <div class="feature resources">
                <i class="fa fa-database fa-fw cta-icon"></i>

                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-arrow-circle-right"></i><a href="/chaise/recordset/#2/RNASeq:Study/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JAEsIAjdafEAJQDkBBAZRwEcQAaEANUKTTABtCALzAAXQiggB9BqLRQAnlIBmAaxwKQAXQC+bUOlFk0FBNXpNWHbrwHCxE6Tb6CR4yVLoAHL4KwOPNQ1tPWoASQARbQ4IFFEpCDR+fjhRDDQcHV0gA?pcid=static/home">scRNA-Seq Visualizations</a>
                  </li>
                  <li><i class="fa-li fa fa-arrow-circle-right"></i><a href="/chaise/recordset/#2/Protocol:Protocol/Consortium=RBK?pcid=static/home">Lab Protocols</a>
                  </li>
                  <!--
                  <li><i class="fa-li fa fa-arrow-circle-right"></i><a href="/chaise/recordset/#2/Common:Gene?pcid=static/home">Genes</a>
                  </li>
                    -->

                  <li><i class="fa-li fa fa-arrow-circle-right"></i><a href="/cell-lines/">iPSC Cell Lines</a>
                  </li>
                  <li><i class="fa-li fa fa-arrow-circle-right"></i><a href="/chaise/recordset/#2/Antibody:Antibody_Tests/Consortium=RBK?pcid=static/home">Antibody Validation</a>
                  </li>
                  <li><i class="fa-li fa fa-arrow-circle-right"></i><a href="/chaise/recordset/#2/RNASeq:Study/Consortium=RBK?pcid=static/home">Gene Expression Data</a>
                  </li>
                </ul>
              </div>
        	</div>
        </section>

      </div>
      <div class="col four mobile-full">
        <div class="ctas">
            <div class="feature collaborate">
              <i class="fa fa-dollar fa-fw cta-icon"></i>
              <h2>Funding opportunities</h2>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-arrow-circle-right"></i><a href="/collaborate/op-pools/" class="">
                  Apply for an Opportunity Pool Program
                </a></li>
                <li><i class="fa-li fa fa-arrow-circle-right"></i><a href="/collaborate/rbk-collab/" class="">
                  Apply to become a Collaborating Project
                </a></li>
              </ul>

            </div>
        </div>
      </div>
      <div class="col four mobile-full">
        <div class="ctas">
            <div class="feature patients">
              <i class="fa fa-users fa-fw cta-icon"></i>
              <h2>Resources for patients</h2>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-arrow-circle-right"></i><a href="https://www.isscr.org/patients">Learn About Stem Cells</a></li>
                <li><i class="fa-li fa fa-arrow-circle-right"></i><a href="http://www.closerlookatstemcells.org/patient-resources/">Patient Handbook on Stem Cell Therapies</a></li>
              </ul>
            </div>
        </div>
      </div>
    </section>
    </div>
  </div>

  <div class="container content-inner signup highlighted">
  <p><i class="fa fa-envelope"></i> To stay updated about <a href="/collaborate.html">funding opportunities</a> and project updates, <a href="http://eepurl.com/buBSC5">sign up for our mailing list here</a>.</p>
  </div>

  <div class="container content-inner data">
    <div class="col-md-12">
      <div class="shortcuts alternate">
      <h2>Browse these shortcuts to RBK's data available in ATLAS-D2K</h2>
      <div class="row shortcut-links">
        <div class="col-md-4">
          <ul>
            <li class="sub-parent">SPECIES include Human and Mouse</li>
            <li class="sub-parent">IMAGING DATA</li>
            <li class="info-label"><a class="tooltiplink" href="#">Specimen Data <i class="fas fa-info-circle"></i><span>Represents the tissue used in experiments and is where imaging data is stored.</span></a>
              <ul class="sub-list">
                <li><i class="fa-solid fa-greater-than"></i> <a href="/chaise/recordset/#2/Gene_Expression:Specimen/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEAcRwhwH0BRADwAcMckkBLFCEADQgAyqxxZuAW1r0AglzABPegBVFY+gDMA1jkUgAugF8hAJQCSAEUNCsACxTdcSSgEYAbAFoATJYBiAAqGJsjo2HiwIADCfKgYRNxokoIg9o7OlKYAQgDSwcZAA@sort(RCT::desc::,Stage_Ordinal,RID)">Immunohistochemistry (IHC)</a></li>
                <li><i class="fa-solid fa-greater-than"></i> <a href="/chaise/recordset/#2/Gene_Expression:Specimen/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEAcRwhwH0BRADwAcMckkBLFCEADQgAyqxxZuAW1r0AglzABPegBVFY+gDMA1jkUgAugF8hAJQCSAEUNCsACxTdcSSgEYAbAFoATJYBipoYmyOjYeLAgAMJ8qBhE3GiSgiD2js6UpgBCANJBxkA@sort(RCT::desc::,Stage_Ordinal,RID)">In-Situ Hybridization (ISH)</a></li>
                <!--
                <li><i class="fa-solid fa-greater-than"></i> <a href="/chaise/recordset/#2/RNASeq:Study/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JAEsIAjdafEAJQDkBBAZRwEcQAaEAUQA8AHHDIQC2OCABcA+gzFooATwlUAkgBEJAMwDWOOSAC6AXzah0YsmgoJq9Jqw49+gkeIkOBw0ZIAqc-hu26hhzKKvocWAAWKIS4SJQAjABsALRU8fT6BoZAA@sort(RMT::desc::,RID)">Imaging Mass Cytometry (IMC)</a></li>
                -->
                <li class="sub-parent">VISUALIZATION TOOLS</li>
                <li><a href="/deriva-webapps/plot/?config=study-violin">mRNA-Seq Violin Plots</a></li>
                <li><a href="/chaise/recordset/#2/RNASeq:Study/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JAEsIAjdafEAJQDkBBAZRwEcQAaEANUKTTABtCALzAAXQiggB9BqLRQAnlIBmAaxwKQAXQC+bUOlFk0FBNXpNWHbrwHCxE6Tb6CR4yVLoAHL4KwOPNQ1tPWoASQARbQ4IFFEpCDR+fjhRDDQcPWR0bDxYEABhSVQMcTQAW3YQLAALFEJcJEoqACEAaRDdIA@sort(RMT::desc::,RID)">scRNA-Seq Scatter Plots</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li class="sub-parent">OMICS DATA</li>
            <li class="info-label"><a class="tooltiplink" href="">Study data  <i class="fas fa-info-circle"></i><span>Describes studies of omics data, organized by Experiment and Replicate records.</span></a>
              <ul class="sub-list">
                <li><i class="fa-solid fa-greater-than"></i> <a href="/chaise/recordset/#2/RNASeq:Study/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JAEsIAjdafEAJQDkBBAZRwEcQAaEAUQA8AHHDIQC2OCABcA+gzFooATwlUAkgBEJAMwDWOOSAC6AXzah0YsmgoJq9Jqw49+gkeIkOBw0ZIAqc-hu26hhzKKvocWAAWKIS4SJQAigC0AJoAUgAaAOr6Rsjo2HiwIADCKBCoGGKEaELsIJHRsZRUAEIA0jmGQA@sort(RMT::desc::,RID)">mRNA-Seq</a></li>
                <li><i class="fa-solid fa-greater-than"></i> <a href="/chaise/recordset/#2/RNASeq:Study/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JAEsIAjdafEAJQDkBBAZRwEcQAaEAUQA8AHHDIQC2OCABcA+gzFooATwlUAkgBEJAMwDWOOSAC6AXzah0YsmgoJq9Jqw49+gkeIkOBw0ZIAqc-hu26hhzKKvocWAAWKIS4SJQAigC0AJoAUskATPpGyOjYeLAgAMIoEKgYYoRoQuwgkdGxlFQAQgDS2YZAA@sort(RMT::desc::,RID)">scRNA-Seq</a></li>
                <li><i class="fa-solid fa-greater-than"></i> <a href="/chaise/recordset/#2/RNASeq:Study/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JAEsIAjdafEAJQDkBBAZRwEcQAaEAUQA8AHHDIQC2OCABcA+gzFooATwlUAkgBEJAMwDWOOSAC6AXzah0YsmgoJq9Jqw49+gkeIkOBw0ZIAqc-hu26hhzKKvocWAAWKIS4SJQAjABsALQAigDSNF76Rsjo2HiwIADCKBCoGGKEaELsIJHRsZRUAELpOYZAA@sort(RMT::desc::,RID)">snRNA-Seq</a></li>
                <li><i class="fa-solid fa-greater-than"></i> <a href="/chaise/recordset/#2/RNASeq:Study/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JAEsIAjdafEAJQDkBBAZRwEcQAaEAUQA8AHHDIQC2OCABcA+gzFooATwlUAkgBEJAMwDWOOSAC6AXzah0YsmgoJq9Jqw49+gkeIkOBw0ZIAqc-hu26hhzKKvocWAAWKIS4SJQAigC0AJoAUgAayfpGyOjYeLAgAMIoEKgYYoRoQuwgkdGxlFQAQgDS2YZAA@sort(RMT::desc::,RID)">ChiP-Seq</a></li>
                <li><i class="fa-solid fa-greater-than"></i> <a href="/chaise/recordset/#2/RNASeq:Study/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JAEsIAjdafEAJQDkBBAZRwEcQAaEAUQA8AHHDIQC2OCABcA+gzFooATwlUAkgBEJAMwDWOOSAC6AXzah0YsmgoJq9Jqw49+gkeIkOBw0ZIAqc-hu26hhzKKvocWAAWKIS4SJQAjABsALQqAJoAClT6Rsjo2HiwIADCKBCoGGKEaELsIJHRsZRUAEIA0jmGQA@sort(RMT::desc::,RID)">Metabolomics</a></li>
                <li><i class="fa-solid fa-greater-than"></i> <a href="/chaise/recordset/#2/RNASeq:Study/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JAEsIAjdafEAJQDkBBAZRwEcQAaEAUQA8AHHDIQC2OCABcA+gzFooATwlUAkgBEJAMwDWOOSAC6AXzah0YsmgoJq9Jqw49+gkeIkOBw0ZIAqc-hu26hhzKKvocWAAWKIS4SJQAigC0AJoAUskADPpGyOjYeLAgAMIoEKgYYoRoQuwgkdGxlFQAQgDS2YZAA@sort(RMT::desc::,RID)">ATAC-Seq</a></li>
                <li><i class="fa-solid fa-greater-than"></i> <a href="/chaise/recordset/#2/RNASeq:Study/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JAEsIAjdafEAJQDkBBAZRwEcQAaEAUQA8AHHDIQC2OCABcA+gzFooATwlUAkgBEJAMwDWOOSAC6AXzah0YsmgoJq9Jqw49+gkeIkOBw0ZIAqc-hu26hhzKKvocWAAWKIS4SJQAjADsALScAJwA0gAs+kbI6Nh4sCAAwigQqBhihGhC7CCR0bGUVABCGbmGQA@sort(RMT::desc::,RID)">Spatial Transcriptomics</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li class="sub-parent">RESOURCES</li>
            <li><a href="/chaise/recordset/#2/Common:Publication/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEAYRQFtaUIQAaEABTRIBsBLLMIj0YB9GhFQZBaWsIBmAaxwBPEAF0AvqwBKASQAia1lgAWKPjiSUAigFoAzAGkArABY16jUA@sort(Year::desc::,Month::desc::,RID::desc::)">Publications</a></li>
            <li><a href="/chaise/recordset/#2/Protocol:Protocol/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEABQxSJSxQBsQAaa2+xpgfQGEUEVBiIBLNAFseAMwDWOAJ4gAugF92AJQCSAERXssACxSjcSSgEUAtAGYA0gFYALCtVqgA@sort(RMT::desc::,RID)">Protocols</a></li>
            <li><a class="tooltiplink" href="/resources/functional-assays/">Functional Assays Handbook <i class="fas fa-info-circle"></i><span>A collection of functional assays with a current focus on physiological assays.</span></a></li>
            <li><a href="/resources/cell-lines/">Cell Lines (Available by request)</a></li>
            <li><a href="/chaise/recordset/#2/Antibody:Antibody_Tests/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEAQQiIEsyoBPEAGmtoZWYH0AVHEiJIeAYRQRUGemgC2PAGYBrHCwC6AX3YAlAJIAREGvZYAFijq4klAIoBaAMwBpAKwAWIxs1A@sort(RID)">Antibody Validation</a></li>

            <li class="sub-parent">SEARCH BY...</li>
            <li><a href="">RBK Investigator</a></li>
            <li class="info-label"><a class="tooltiplink" href="/chaise/recordset/#2/Common:Collection/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEAYRQFtaUIQAaalAG3ZyyIEtGA+jQioMfNLQEAzANY4AniAC6AX1YAlAJIARZaywALFL1xJKARQC0AZgDSAVgAsylaqA@sort(RMT::desc::,RID)">Data Collections <i class="fas fa-info-circle"></i><span>Customized collections of datasets, usually to collect data within a publication.</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>

    <div class="container content-inner features section-blurb">
      <div class="row" id="opps">
        <h2>RBK Highlights</h2>
        <div class="col-md-4">
          <h3>Funding Opportunities</h3>
          <ul class="posts">
            <li><a href="/collaboration/op-pool/">Learn about Opportunity Pools</a></li>
            <li><a href="/collaboration/rbk-collab/">Apply to be a RBK Collaborating Group</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Recent Publications</h3>
          <ul class="posts">
            <li><a href="https://doi.org/10.1152/ajpcell.00288.2022">Functional maturation of kidney organoid tubules: PIEZO1-mediated Ca2+ signaling</a> <small><em>(American Physiological Society - Cell Physiology, 2023)</em></small></li>
            <li><a href="https://doi.org/10.1681/asn.0000000000000057">Lineage Tracing and Single-Nucleus Multiomics Reveal Novel Features of Adaptive and Maladaptive Repair after Acute Kidney Injury</a> <small><em>(JASN, 2023)</em></small></li>
            <li><a href="https://doi.org/10.1016/B978-0-12-823318-4.00037-8">Chapter 18 - Stress-induced senescence of tubular cells</a> <small><em>(Regenerative Nephrology, 2022)</em></small></li>
            <li><a href="/chaise/recordset/#2/Common:Publication/*::facets::N4IghgdgJiBcDaoDOB7ArgJwMYFM6JHQBcAjdafEAYRQFtaUIQAaEABTRIBsBLLMIj0YB9GhFQZBaWsIBmAaxwBPEAF0AvqwBKASQAia1lgAWKPjiSUAigFoAzAGkArABY16jUA@sort(Year::desc::,Month::desc::,RID::desc::)">more RBK publications ></a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Latest News</h3>
          <ul class="posts">
{% assign counter = 0 %}
{% for post in site.posts %}
  {% if post.tags contains 'rbk' %}
    {% assign counter = counter | plus: 1 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a><br/>
      <time>
        {{ post.date | date: "%m/%d/%Y" }}
      </time>
    </li>
    {% if counter == 4 %}
      {% break %}
    {% endif %}
  {% endif %}
{% endfor %}
</ul>

        <a id="more-news" href="/rebuildingakidney/news/">more RBK news ></a><br>
        <!--    <a href="/publications/">publications ></a> -->


        </div>
      </div>
    </div>
</div>
