/* Data Browser spinner */


/* Navbar styles */

.navbar {
    /*min-height: 70px;*/
    margin: 0 auto;
  /*  padding: 10px; */
    width: 100%;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 0;
}

.navbar-inverse {
    background-color: #0A2327;
    /* #255F8C */
    border-color: #0A2327;
}

.navbar-inverse .navbar-nav>li {
    padding-bottom: 0;
    cursor: pointer;
}

.navbar-inverse .navbar-nav>li>a { /* changed for treeview */
    color: #fff;
    font-size: 16px;
}

.navbar-inverse .navbar-nav>div>a:hover,
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #407CCA;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.show>a {
    background-color: #080808;
}

.navbar-inverse .navbar-nav>li>a:visited {
    color: #ddc785;
}

.navbar-inverse .navbar-nav>li>a.disabled {
    color: #bbbbbb;
}

.navbar-form {
    padding: 15px;
}

.navbar-text {
    margin-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav.navbar-right>li>a {
    color: #59C4FF;
}

.navbar-brand:not(#chaise-app-root #mainnav.navbar-inverse .navbar-brand):not(.chaise-body #mainnav.navbar-inverse .navbar-brand) {
    padding: 5px 0 0 0;
    height: 100px;
}

span#brand-text {
    display: block;
    height: 98px;
    background: url(/assets/img/atlas-logo-inverted.png);
  /*  background-size: cover; */
    background-size: 120px 83px;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-top: -6px;
    margin-left: 10px;
    width: 142.37px;
}

.chaise-body span#brand-text,
#chaise-app-root span#brand-text {
    background: url(/assets/img/logo-cropped-for-chaise.png);
    background-size: 100%;
    height: 33px;
}

login ul.nav.navbar-nav.navbar-right { /* changed for treeview */
    line-height: 30px;
    /*	padding-top: 10px;
	padding-bottom: 10px;*/
}

.nav li {
    margin-top: 0;
}

a.nav-link span {
    color: #fff;
}

/* Prevent menu from collapsing */

button.navbar-toggle.collapsed {
    display: none;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
    color: #fff;
}

.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li,
.navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}

.homebg span#brand-text {
    display: none;
}

.chaise-btn.chaise-btn-primary {
    color: #fff;
    background-color: #4674A7;
    border-color: #333;
}

.chaise-btn.chaise-btn-sm {
    height: 24px;
    min-width: 24px;
    font-size: 1rem;
    padding: 2px 5px;
}

a#login-link {
    margin-right: 15px;
    color: #fff;
}

/* The following styles are tests to fix responsiveness issues with mobile version of navigation */

nav.navbar .navbar-nav div.dropdown-menu {
  background-color: #fff;
}

/* breakpoint media queries for navbar when browser window is narrow */

@media (max-width: 767px) {
    body.homebg .navbar-header {
        display: none;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: 0 !important;
    }
    .navbar-inverse .navbar-collapse {
        border-color: #0A414E;
    }
    .navbar-inverse .navbar-nav li.dropdown.open {
        color: #333;
        background-color: #fff;
    }
    .navbar-inverse .navbar-nav li.dropdown.open>a:hover {
        color: #333;
        background-color: rgb(221, 199, 133, .5);
    }
    /* this rule is still affecting both 1st and 2nd levels */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li {
        padding-left: 10px;
        background-color: #f5f5f5;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #333;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #333;
        background-color: rgb(221, 199, 133, .5);
    }
    li.child-opened {
        background-color: #fff;
    }
    .homeBanner {
        height: 150px
    }
    .cta {
        padding-top: 15px;
    }
    .formBlock {
        margin: 0 auto;
    }
}


/* ---------- chaise navbar banner style ---------- */

.chaise-navbar-banner-container {
    background-color: #FFFFBF;
    /* need to figure out a better color - probably lighter tone */
    /* color: red; */
}


/* ---------- curation status and record status ----------

.markdown-container table tr {
    background: transparent !important;
}

.markdown-container table th:empty {
    display: none;
}

.markdown-container table td,
.markdown-container table th,
.markdown-container table tr {
    border: none !important;
}

.markdown-container table td,
.markdown-container table th {
    padding: 3px 5px !important;
    vertical-align: top;
}
*/

/* ---------- curation status and record status ---------- */

.markdown-container .status-yellow {
    color: darkblue;
    background-color: rgba(225, 230, 37, 0.68);
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    margin: 2px;
}


/* record status: detail context
*/

.markdown-container .record-Incomplete {
    color: darkblue;
    background-color: rgba(221, 170, 146, 0.68);
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    margin: 2px;
}

.markdown-container .record-Complete {
    color: darkblue;
    background-color: rgba(113, 195, 129, 0.68);
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    margin: 2px;
}


/* -- record status: compact context */

.markdown-container .record-Complete-compact,
.markdown-container .record-Incomplete-compact {
    padding-left: 17px;
    position: relative;
}

.markdown-container .record-Complete-compact:before,
.markdown-container .record-Incomplete-compact:before {
    content: "";
    left: 0px;
    top: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
}

.markdown-container .record-Complete-compact:before {
    background-color: rgba(113, 195, 129, 0.68);
}

.markdown-container .record-Incomplete-compact:before {
    background-color: rgba(221, 170, 146, 0.68);
}


/* -- Execution status: detail context */

.markdown-container .Execution_Status-Success {
    color: darkblue;
    background-color: rgba(113, 195, 129, 0.68);
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    margin: 2px;
}

.markdown-container .Execution_Status-Error {
    color: darkblue;
    background-color: rgba(221, 170, 146, 0.68);
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    margin: 2px;
}


/* -- Execution status: compact context */

.markdown-container .Execution_Status-Success-compact,
.markdown-container .Execution_Status-Error-compact {
    padding-left: 17px;
    position: relative;
}

.markdown-container .Execution_Status-Success-compact:before,
.markdown-container .Execution_Status-Error-compact:before {
    content: "";
    left: 0px;
    top: 3.5px;
    width: 10.5px;
    height: 10.5px;
    position: absolute;
}

.markdown-container .Execution_Status-Success-compact:before {
    background-color: rgba(113, 195, 129, 0.68);
}

.markdown-container .Execution_Status-Error-compact:before {
    background-color: rgba(221, 170, 146, 0.68);
}


/* -- curation status: detail context   */

.markdown-container .curation-Release,
.markdown-container .curation-In-Preparation,
.markdown-container .curation-PI-Review,
.markdown-container .curation-Submitted,
.markdown-container .curation-Amendement,
.markdown-container .curation-Data-Hub-Attention,
.markdown-container .curation-Data-Hub-Processing,
.markdown-container .curation-Biocurator-Review,
.markdown-container .curation-Release {
    color: darkblue;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    margin: 2px;
}

.markdown-container .curation-Release {
    background-color: rgba(113, 195, 129, 0.68);
}

.markdown-container .curation-In-Preparation,
.markdown-container .curation-PI-Review,
.markdown-container .curation-Submitted,
.markdown-container .curation-Amendement {
    background-color: rgba(221, 170, 146, 0.68);
}

.markdown-container .curation-Data-Hub-Attention,
.markdown-container .curation-Data-Hub-Processing,
.markdown-container .curation-Biocurator-Review,
.markdown-container .curation-Release {
    background-color: rgba(220, 220, 220, 0.68);
}


/* -- detail status: compact context */

.markdown-container .curation-In-Preparation-compact,
.markdown-container .curation-PI-Review-compact,
.markdown-container .curation-Submitted-compact,
.markdown-container .curation-Data-Hub-Attention-compact,
.markdown-container .curation-Data-Hub-Processing-compact,
.markdown-container .curation-Biocurator-Review-compact,
.markdown-container .curation-Amendement-compact,
.markdown-container .curation-Release-compact {
    padding-left: 17px;
    position: relative;
}

.markdown-container .curation-In-Preparation-compact:before,
.markdown-container .curation-PI-Review-compact:before,
.markdown-container .curation-Submitted-compact:before,
.markdown-container .curation-Data-Hub-Attention-compact:before,
.markdown-container .curation-Data-Hub-Processing-compact:before,
.markdown-container .curation-Biocurator-Review-compact:before,
.markdown-container .curation-Amendement-compact:before,
.markdown-container .curation-Release-compact:before {
    content: "";
    left: 0px;
    top: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
}

.markdown-container .curation-Release-compact:before {
    background-color: rgba(113, 195, 129, 0.68);
}

.markdown-container .curation-In-Preparation-compact:before,
.markdown-container .curation-PI-Review-compact:before,
.markdown-container .curation-Submitted-compact:before,
.markdown-container .curation-Amendement-compact:before {
    background-color: rgba(221, 170, 146, 0.68);
}

.markdown-container .curation-Data-Hub-Attention-compact:before,
.markdown-container .curation-Data-Hub-Processing-compact:before,
.markdown-container .curation-Biocurator-Review-compact:before {
    background-color: rgba(220, 220, 220, 0.68);
}


/* rules added after Custom CSS table styling changes */


/*
th.c_NCBI_Symbol {
    max-width: 60px;
}
*/

th.c_RID,
th.c_pihgZwBSl3FPLqaL930bEQ {
    min-width: 70px;
}

th.c_Name,
th.c_RiVpWTIeIaZbB_Bj8cgg1A {
    min-width: 300px;
}

th.c_Reference_Image,
th.c_8HFVaLlTUqBDa0dfgwS2oQ {
    width: 320px;
}


/* for Common:Gene/NCBI_GeneID */

th.c_Images {
    min-width: 500px;
}


/* ------------- for protocol recordset ------------- */

th.c_Title {
    min-width: 300px;
}

th.c_Authors,
th.c_Subjects {
    min-width: 150px;
}

th.c_Abstract {
    min-width: 300px;
}

th.c_Description {
    min-width: 250px;
}


/* functional assay handbook: recordset Kidney_Structure */

.s_Protocol.t_Functional_Assay_Handbook th.c_eCxLGxca3Sb15xdLhGsqIw {
    min-width: 250px;
}


/* functional assay handbook: recordset Protocol */

.s_Protocol.t_Functional_Assay_Handbook th.c_L5UlHcXviVZuqOZK8_0C9g {
    min-width: 250px;
}


/* functional assay handbook: recordset Notes */

.s_Protocol.t_Functional_Assay_Handbook th.c_Notes {
    min-width: 150px;
}


/* -------------------- collection ----------------------- */

.s_Common.t_Collection .c_Title {
    min-width: 200px;
}

.s_Common.t_Collection .c_Description {
    min-width: 400px;
}


/* ------------------ RNASeq ----------------------------- */

.s_RNASeq.t_Study .c_Title {
    min-width: 200px;
}


/* for fk:  .s_RNASeq.t_Study .c_EqyGo9mnH_Qa7Mlm3KTe6Q {
*/

.s_RNASeq.t_Study .c_Is_Protected_Human_Subject {
    /* unsetting `white-space` will cause the column heading to wrap as much as possible
     * "Is Protected Human Subject" becomes 4 lines
     * causing all column headings to expand for consistency
     */
    white-space: unset;
    /* setting a min-width so the column name spans 3 lines   */
    min-width: 100px;
}


/* Study: recordset Summary */

.s_RNASeq.t_Study th.c_zJcJjeXUmXiDZ0ZJ8xy91Q {
    min-width: 160px;
}


/* Study: recordset SC Visualizations
    - image height 120: 230 px
*/

.s_RNASeq.t_Study th.c_6m7yF9m3jgul0CdV_h8HHA {
    min-width: 230px;
}


/* Study:TPM_Visualization: indent iframe */

.r_s_RNASeq.r_t_Study #row-TPM_Visualization .entity-value {
    padding-left: 40px;
}


/**** Adjust styles for cellbrowser and vitessce iframe ****/

/* Study:Cellbrowser_URI: indent iframe */
.r_s_RNASeq.r_t_Study #row-Cellbrowser_URI .entity-value {
    padding-left: 40px;
}

/* reduce gap between <h3> and <p> */
.r_s_RNASeq.r_t_Study #row-Cellbrowser_URI .entity-value .markdown-container > h3,
.r_s_RNASeq.r_t_Study .entity-row-ATLAS-D2K-scRNA-Seq-Analysis .entity-value .markdown-container > h3 {
    margin-bottom: 5px;
}

/* reduce gap between <p> text and <figure> container, inverse of margin-top on .iframe-btn-container set to 8px */
.r_s_RNASeq.r_t_Study #row-Cellbrowser_URI .entity-value .markdown-container > p,
.r_s_RNASeq.r_t_Study .entity-row-ATLAS-D2K-scRNA-Seq-Analysis .entity-value .markdown-container > p {
    margin-bottom: -8px;
}

/* Color of axes labels in Cell Set vitessce grid item */
.vit-makeStyles-vegaContainer > svg > g > text {
    /* fill is an inline style set by vitessce, use important to override */
    fill: #080808 !important;
}


/* Study column anywhere else */

th.c_Study {
    min-width: 250px;
    max-width: 400px;
}


/* Experiment: recordset > Species col */

.s_RNASeq.t_Experiment th.c_EMoy29MZtQoMN6lfyBmOpg {
    min-width: 120px;
}


/* Experiment: recordset > Anatomy col */

.s_RNASeq.t_Experiment th.c_XTSjYvdTD-m2hneo8iFnLQ {
    min-width: 130px;
}

.s_RNASeq.t_Visualization .c_Description {
    width: 200px;
}


/* sc Visualization: Gene (based on column position). Will change this to name after model change */

.s_RNASeq.t_Visualization th:nth-child(3) {
    width: 100px;
}


/* sc Visualization: Result Files*/

.s_RNASeq.t_Visualization th.c_Vzdt5ev_bxjQVcP7qJ7LLw {
    width: 200px;
    max-width: 250px;
}


/* sc Visualization: images */

.s_RNASeq.t_Visualization th.c_Bm8HSG9Sti7-33403ocxNQ {
    min-width: 650px;
    /*min-width: 660px;     */
}


/* sc Visualization: images */

.s_RNASeq.t_Replicate th.c_WgB3TDveAleh-l5gXHfbKg {
    min-width: 120px;
}


/* ---------------- gene ----------------------- */


/* search Genes recordset */

#rs-Gene th.c_Description {
    min-width: 100px;
}


/* Common.Gene Thumbnail display generated using psudo-column and rowname */

a.pseudo-column-rowname-thumbnail-link {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

span.pseudo-column-rowname-thumbnail-title {
    display: block;
    height: 10px;
    margin-bottom: 5px;
    text-align: center;
}

img.centered-image-compact,
img.centered-content-compact {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* ------ Gene Expression: Specimen----------- */

.s_Gene_Expression.t_Specimen .c_Images {
    min-width: 500px;
}

.s_Gene_Expression.t_Specimen th.c_Specimen_Thumbnails {
    min-width: 500px;
}


/* -- Specimen: Imaging Data -- */

.s_Gene_Expression.t_Specimen th.c_kX95FYSJ1GTOIXdvVWOwng {
    min-width: 200px;
}


/* ------ Gene Expression: indent iframe -------------------------
 tables: Image, Image_3D, Processd_3D_Image
         Image_Annotation, Image_Annotation_File
*/

.r_s_Gene_Expression.r_t_Image #row-uri .entity-value,
\ .r_s_Gene_Expression.r_t_Image_3D #row-lRpelvft99Dx7_YwQPuSpw .entity-value,
.r_s_Gene_Expression.r_t_Image_3D #row-Processed_File_URL .entity-value,
.r_s_Gene_Expression.r_t_Processed_3D_Image #row-File_URL .entity-value,
.r_s_Gene_Expression.r_t_Image_Annotation_File #row-\$Preview .entity-value,
\ .r_s_Gene_Expression.r_t_Image_Annotation #row-\$Display .entity-value {
    padding-left: 40px;
}


/* Common.Gene Thumbnail display generated using psudo-column and rowname */

a.pseudo-column-rowname-thumbnail-link {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

span.pseudo-column-rowname-thumbnail-title {
    display: block;
    height: 10px;
    margin-bottom: 5px;
    text-align: center;
}

img.centered-image-compact,
img.centered-content-compact {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
