/* Styles for placeholder navbar - before navbar kicks in */

navbar {
    height: 102px;
    background-color: #0A2327;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}


/*
span#brand-text {
  text-indent: -999px;
  background: url(/assets/img/deriva-h50-simple.png) no-repeat;
  height: 50px;
  display: block;
  width: 170px;
  background-size: contain;
}
*/


/* The rest of the custom stylesheet */

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    color: #4b4444;;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
}

#content.container {
    flex: 1 1 auto;
}

.content {
    /* min-height: 100%; */
    position: relative;
    padding-top: 70px;
    padding-bottom: 60px;
}


/*
h1,
h2,
h3 {
    margin-bottom: 10px;
}
*/

#content h1,
#home h1 {
    margin-top: 20px;
}

#content h2 {
    font-size: 30px;
    margin-top: 20px;
}

#content .news h2 {
    font-size: 20px;
    margin-top: 20px;
}

#content h3 {
    margin-top: 20px;
}

/*
h3 {
    padding-top: 20px;
}
*/

h3.panel-title {
    padding-top: 0px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 16px;
}

h4,
h5,
h6 {
    margin-top: 20px;
    margin-bottom: 10px;
}

figure {
    padding-bottom: 10px;
}

figure img {
    border: 1px solid #333;
}

.bg-info,
.bg-success,
.bg-warning,
.bg-danger {
    padding: 15px;
}

a.anchor {
    display: block;
    position: relative;
    top: -45px;
    visibility: hidden;
}

.btn.btn-success {
    background: ##255F8C none repeat scroll 0 0;
    border-color: ##255F8C;
}

#home .btn.btn-primary,
#content .btn.btn-primary,
{
    background: ##255F8C none repeat scroll 0 0;
    border-color: ##255F8C;
}

.lead.announce {
    text-align: center;
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 1.12em;
}

p.note {
    padding: 20px;
    background-color: #e4f5fa;
    border-radius: 4px !important;
    font-weight: bold;
}

p.acknowledgement {
    font-size: .9;
    font-style: italic;
}

.navbar-inverse {
    background-color: #0A2327;
    border-color: #0A2327;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        /*   margin: 0 0 0 35px; */
    }
}


/* Home page styles */

.homeBanner {
    background-color: #255F8C;
    padding: 20px;
}

.formBlock {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    background-color: rgb(221, 199, 133, .2);
}

.formBlock button.btn.btn-default {
    background-color: #E0CC90;
}

.search-panel {
    color: white;
    padding-top: 5px;
    padding-left: 5px;
}

.search-panel label {
    font-weight: normal;
    font-size: .9em;
    padding-right: 2em;
}

.home .row {
    max-width: 1140px;
    margin: 0 auto;
}

.home h2 {
    /* font-size: 40px; */
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 15px;
    margin-top: 35px;
    text-align: center;
}

.home h3 {
/*    margin-top: 0; */
    text-align: left;
    padding-bottom: 0;
    padding-top: 20px;
}

p.cta {
    padding-top: 10px;
}

#events h4 {
    font-size: 1.2em;
}

#events ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* Jumbotron */

.container .jumbotron {
    padding: 20px 60px;
    margin-bottom: 0;
    /* padding: 15px; */
    /* background-color: inherit; */
    /* border: 1px solid #ccc; */
}

.jumbotron p {
    font-size: 1.2em;
    margin-bottom: 0;
    font-weight: normal;
}

.jumbotron .thumbnail {
    border: 0px;
    border-radius: 0px;
    margin: 0 0 10px 0;
    padding: 0px;
}

.container .jumbotron .thumbnail.species {
    margin-bottom: 0;
}

.home .jumbotron {
    text-align: center;
    margin: 0 auto;
    /*  background: rgba(22, 22, 30, 0.5) !important;*/
    background-image: url("/assets/img/carousel/16-WMWC-prostate-mouse-strand.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

.home .jumbotron .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    /* This is a semi-transparent black color */
    padding: 15px;
    border-radius: 5px;
    /* This gives the overlay rounded corners. Optional. */
    width: 70%;
    margin: 0 auto;
}


/* Rows of data statistics */

div#statistics-1 {
    margin-top: 30px;
}

#statistics {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Optional, adds spacing between the rows */
    margin: 20px auto;
    padding: 0 20px;
}

.stat-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.statistics .well {
    padding: 20px;
}

.statistic-container {
    display: flex;
    align-items: center;
    /* Center content vertically */
    justify-content: start;
    /* Center content horizontally */
    height: 60px;
    /* Adjust height as needed */
}

.statistic-container i {
    width: 27%;
}

i.stat-icon {
    font-size: 2.5em;
}

#home h2.stat-number {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
}

.stat-label {
    font-size: .7em;
}


/* Shortcut links on home page */

.home .shortcuts {
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 50px;
    /*  padding-left: 30px; */
}

.shortcut-links ul {
    list-style: none;
    padding-left: 0;
}

.shortcut-links ul li {
    font-size: 1em;
    margin-top: .75em;
}

.shortcut-links ul.sub-list {
    padding-left: 10px;
}

.sub-list i.fa-solid.fa-greater-than {
    font-size: .8em;
}

#home .cta a {
    color: #ffffff;
    background-color: #255F8C;
    border-color: #255F8C;
}

#home .cta a:hover {
    background-color: #1E4B70;
    border-color: #1E4B70;
}

a.tooltiplink:hover {
    position: relative;
    cursor: help;
}

a.tooltiplink span {
    display: none;
}

a.tooltiplink:hover span {
    border: #666 2px solid;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: #000;
    color: #fff;
    left: 0px;
    margin: 15px;
    width: 300px;
    position: absolute;
    top: 15px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}


/* News, Events, consortium Ads */


/*
#news-atlas, #consortiums {
  border-right: 1px solid #CCC;
}
*/

ul.posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.posts li {
    padding-bottom: 10px;
}

ul.posts li time {
    font-size: .9em;
    color: #6E6E6E;
}

.consortium img {
    width: 420px;
  /*  margin: 0 auto; */
    padding: 15px;
}


/* Tools Carousel */

.carousel-caption {
    background-color: #777;
}


/* Homepage Pubs list */

.pub-date {
    font-style: italic;
}


/* Image of the week - turn into image gallery */

.iotw img {
    width: 280px;
}

.iotw h3 {
    padding-top: 0;
}

.iotw p.caption {
    font-style: italic;
    font-size: .8em;
    width: 280px;
}


/* Sub page styles */

#home.container,
#content.container {
    font-size: 18px;
    margin: 0 auto;
    line-height: 1.5;
    color: #4b4444;
}

#content.container {
    padding-top: 15px;
    padding-bottom: 50px;
    max-width: 1100px;
}

.innercontent {
    /*  padding: 20px 10%; */
    max-width: 1100px;
    /*    font-size: 1.2em; */
    line-height: 1.5;
    margin: 0 auto;
}


/* next couple rules had weird conflict */

.home p {
    font-size: 18px;
}

.panel-primary {
    border-color: #727272;
    border-color: #fff;
}


/* Help page styles */

.list-group-item>.badge {
    float: left;
    margin-right: 10px;
    background-color: #d1353b;
}


/* Tutorials - styles originally from GUDMAP */

.well {
    margin-top: 20px;
}

.flyer.well {
    margin-top: 0;
    margin-left: 15px;
}

div.tutorial-pages {
    font-size: 18px;
    line-height: 1.5;
    max-width: 1000px;
}

.video-well {
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 15px;
}

.video-well video {
    display: block;
}

ul.subpage {
    padding-bottom: 20px;
}

ul.subpage li {
    margin-top: 0;
}

.tutorial-img {
    max-width: 750px;
}

.figcaption {
    padding-bottom: 20px;
}


/* Tutorials - styles originally from GUDMAP */

.well {
    margin-top: 20px;
}

.flyer.well {
    margin-top: 0;
    margin-left: 15px;
}

div.tutorial-pages {
    font-size: 18px;
    line-height: 1.5;
    max-width: 1000px;
}

.video-well {
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 15px;
}

.video-well video {
    display: block;
}

ul.subpage {
    padding-bottom: 20px;
}

ul.subpage li {
    margin-top: 0;
}

.tutorial-img {
    max-width: 750px;
}

.figcaption {
    padding-bottom: 20px;
}


/* Documentation pages */

.callout td {
    vertical-align: top;
    padding-top: 15px;
    padding-right: 15px;
}

img.screenshot {
    width: 800px;
    border: 1px #CCC solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

img.screenshot-sm {
    width: 600px;
    border: 1px #CCC solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

figure {
    padding-bottom: 20px;
}

figcaption {
    font-style: italic;
    line-height: 1.25;
    padding-top: 15px;
}

div.pagination,
div.tutorial-series {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.pagination div,
div.tutorial-series div {
    flex-grow: 1;
}

div.next-topic {
    text-align: right;
}

div.5A5B {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.bottom-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.bottom-img img {
    width: 470px;
}

.tutmd {
    width: 520px;
}

.tutsm {
    max-width: 370px;
}


/* Footer styles */

#footer {
    background-color: #000;
    color: #C1C1C1;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

#footer a {
    color: #C1C1C1;
    text-decoration: none;
}

#footer img {
    vertical-align: middle;
}

#footer.browser-footer {
    margin-top: 0;
}

.acks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 15px;
    align-items: center;
}

.acks .ack-logo {
    width: 215px;
}


/* Breakout points */

@media (max-width: 770px) {
    .media-body,
    .media-left,
    .media-right {
        display: table-cell;
        vertical-align: top;
    }
}

.media-left,
.media>.pull-left {
    padding-bottom: 10px;
    padding-right: 10px;
}

.form-group.required label:after {
    content: " *";
    color: red;
}

@media (max-width: 768px) {
    #content {
        margin-left: 0;
    }
}


/* Extra Large Col Styles */


/*
*   CSS file with Bootstrap grid classes for screens bigger than 1600px. Just add this file after the Bootstrap CSS file and you will be able to juse col-xl, col-xl-push, hidden-xl, etc.
*
*   Author: Marc van Nieuwenhuijzen
*   Company: WebVakman
*   Site: WebVakman.nl
*
*/

@media (min-width: 1200px) and (max-width: 1599px) {
    .hidden-lg {
        display: none !important;
    }
}

.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block,
.visible-xl {
    display: none !important;
}

@media (min-width: 1600px) {
    .container {
        width: 100%;
    }
    .col-xl-1,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12 {
        float: left;
    }
    .col-xl-12 {
        width: 100%;
    }
    .col-xl-11 {
        width: 91.66666667%;
    }
    .col-xl-10 {
        width: 83.33333333%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-8 {
        width: 66.66666667%;
    }
    .col-xl-7 {
        width: 58.33333333%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-5 {
        width: 41.66666667%;
    }
    .col-xl-4 {
        width: 33.33333333%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-2 {
        width: 16.66666667%;
    }
    .col-xl-1 {
        width: 8.33333333%;
    }
    .col-xl-pull-12 {
        right: 100%;
    }
    .col-xl-pull-11 {
        right: 91.66666667%;
    }
    .col-xl-pull-10 {
        right: 83.33333333%;
    }
    .col-xl-pull-9 {
        right: 75%;
    }
    .col-xl-pull-8 {
        right: 66.66666667%;
    }
    .col-xl-pull-7 {
        right: 58.33333333%;
    }
    .col-xl-pull-6 {
        right: 50%;
    }
    .col-xl-pull-5 {
        right: 41.66666667%;
    }
    .col-xl-pull-4 {
        right: 33.33333333%;
    }
    .col-xl-pull-3 {
        right: 25%;
    }
    .col-xl-pull-2 {
        right: 16.66666667%;
    }
    .col-xl-pull-1 {
        right: 8.33333333%;
    }
    .col-xl-pull-0 {
        right: auto;
    }
    .col-xl-push-12 {
        left: 100%;
    }
    .col-xl-push-11 {
        left: 91.66666667%;
    }
    .col-xl-push-10 {
        left: 83.33333333%;
    }
    .col-xl-push-9 {
        left: 75%;
    }
    .col-xl-push-8 {
        left: 66.66666667%;
    }
    .col-xl-push-7 {
        left: 58.33333333%;
    }
    .col-xl-push-6 {
        left: 50%;
    }
    .col-xl-push-5 {
        left: 41.66666667%;
    }
    .col-xl-push-4 {
        left: 33.33333333%;
    }
    .col-xl-push-3 {
        left: 25%;
    }
    .col-xl-push-2 {
        left: 16.66666667%;
    }
    .col-xl-push-1 {
        left: 8.33333333%;
    }
    .col-xl-push-0 {
        left: auto;
    }
    .col-xl-offset-12 {
        margin-left: 100%;
    }
    .col-xl-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-xl-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-xl-offset-9 {
        margin-left: 75%;
    }
    .col-xl-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-xl-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-xl-offset-6 {
        margin-left: 50%;
    }
    .col-xl-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-xl-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-xl-offset-3 {
        margin-left: 25%;
    }
    .col-xl-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-xl-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-xl-offset-0 {
        margin-left: 0;
    }
    .visible-xl {
        display: block !important;
    }
    table.visible-xl {
        display: table;
    }
    tr.visible-xl {
        display: table-row !important;
    }
    th.visible-xl,
    td.visible-xl {
        display: table-cell !important;
    }
    .visible-xl-block {
        display: block !important;
    }
    .visible-xl-inline {
        display: inline !important;
    }
    .visible-xl-inline-block {
        display: inline-block !important;
    }
    .hidden-xl {
        display: none !important;
    }
}

.breadcrumb * {
    padding-right: 5px;
    padding-left: 5px;
}

#breadcrumbs {
    /* margin-top: 15px; */
    font-size: 14px;
}

#content a,
#home a,
#gudmap a,
#rbk a {
    text-decoration: none !important;
    color: #428bca;
}

#home .carousel-caption a {
    color: #fff;
    text-decoration: underline !important;
}

#community a, #shortcuts a, #opps a {
  font-size: 18px;
}


/* Slick Styles */

.image-carousel {
    /*  height: 100%; */
    display: block;
    margin-bottom: 30px;
    margin-left: 15px;
}

.image-carousel .slider {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: #555;
}

.image-carousel .slick-slide img {
  /*  width: 144px; */
    width: 269px;
    border: 5px white solid;
}

.image-carousel .students .slick-slide img {
    width: 100px;
    border: 5px white solid;
}

div#cboxTitle {
    background-color: #fff;
    padding: 5px;
}

div#cboxCurrent {
    background-color: #fff;
    padding: 5px 10px;
}

/* Tutorials */

.tutorial img,
.tutorial video {
    max-width: 100%;
}


/* Resources - Tissues Summary */

.organs {
    padding-top: 10px;
    display: flex;
}

.organs .panel {
    float: left;
    width: 19%;
    margin: 5px;
}

.organs .panel-heading {
    background-color: transparent;
    padding: 0;
}

.organs .panel-heading img {
    margin: 0 auto;
    height: 145px;
}

.organs h5.panel-title {
    text-align: center;
    font-size: .7em;
}

.organs .panel-body ul {
    margin-top: 10px;
    list-style-type: none;
}

.organs .panel-body li a {
    font-size: .8em;
}


/* adding styles from media.less */

.media {
    // Proper spacing between instances of .media
    margin-top: 15px;
    &:first-child {
        margin-top: 0;
    }
}

.media,
.media-body {
    zoom: 1;
    overflow: hidden;
}

.media-body {
    width: 10000px;
}

.media-object {
    display: block;
    // Fix collapse in webkit from max-width: 100% and display: table-cell.
    &.img-thumbnail {
        max-width: none;
    }
}

.media-right,
.media>.pull-right {
    padding-left: 10px;
}

.media-left,
.media>.pull-left {
    padding-right: 10px;
}

.media-left,
.media-right,
.media-body {
    display: table-cell;
    vertical-align: top;
}

.media-middle {
    vertical-align: middle;
}

.media-bottom {
    vertical-align: bottom;
}

// Reset margins on headings for tighter default spacing
.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}

// Media list variation
//
// Undo default ul/ol styles
.media-list {
    padding-left: 0;
    list-style: none;
}
