{% include header.html %}
<link rel="stylesheet" href="{{ "/assets/css/rbk.css" | relative_url }}">
<div class="rbk-subnav">
	<a class="rbk-brand" href="{{ "/rebuildingakidney/" | relative_url }}">
        <img alt="RBK Logo" src="{{ "/assets/img/rbk-logo.png" | relative_url }}">
      </a>
			<ul>
					<li role="presentation"><a href="{{ "/rebuildingakidney/about/" | relative_url }}">About</a></li>
					<li role="presentation"><a href="{{ "/rebuildingakidney/projects/" | relative_url }}">Projects</a></li>
					<li role="presentation"><a href="{{ "/contact/" | relative_url }}">Contact</a></li>
			</ul>
</div>

<section class="section-{{page.tag}} container">
  <h1 id="{{page.tag}}">{{ page.title }}</h1>
  <div class="{{page.tag}}-content">

		{{ content }}


	</div>
</section>
{% include footer.html %}

<script type="text/javascript" src="{{ "/assets/slick/slick.min.js" | relative_url }}"></script>
